<meta name="name" content="blog:component/article/view/main">
<meta name="style" content="./main">

<div class="article">

    <?if props?>
        <?each props?>
            <div class="item">
                <div class="title">
                    <a href=""><?=$value.title;?></a>
                    <span class="time"><?=$value.time?></span>
                    <span class="name"><?=$value.name?></span>
                </div>
                <div class="content"><pre><?=#$value.content?></pre></div>
                <div class="detail"><a href="">继续阅读</a></div>
            </div>
        <?/each?>
    <?else?>
        <div class="loading">loading...</div>
    <?/if?>

</div>