<meta name="name" content="blog:component/article/view/main">
<meta name="style" content="./main">

<div class="article">

    <?if props?>
        <?each props?>
            <div class="item">
                <div class="title">
                    <a href=""><?=$value.title;?></a>
                    <span class="time">2016/10/10</span>
                    <span class="name">李迅</span>
                </div>
                <div class="content">内容</div>
            </div>
        <?/each?>
    <?else?>
        <div class="loading">loading...</div>
    <?/if?>

</div>