<meta name="style" content="./main">

<meta name="btn" content="ued:component/button/main">

<div class="home-content">

    <script>
        var props = self.props;
        var state = self.state;
    </script>

    <div>
        <com:btn name="按'钮" attr="a{{true}}" click="{{self.countAdd.bind(self)}}" />
        {{state.count}}
    </div>

    <div>
        <com:btn name="setHTML" click="{{self.setHTMLHandle.bind(self)}}" />
    </div>

    <div>当前时间：<span>{{state.now}}<span>></span></span></div>

    <div>endTime: {{state.time}}</div>

    <ul>
        <li sp:if="state.list.length" sp:each="state.list" key="k{{$value}}">{{$value}}</li>
        <li sp:if="!state.list.length">正在加载...</li>
    </ul>

</div>