<meta name="style" content="common:css/main">
<meta name="style" content="./main">

<meta name="header" content="ued:component/header/main">
<meta name="article" content="ued:component/article/main">
<meta name="footer" content="ued:component/footer/main">

<meta name="top" content="../com/top/main">
<meta name="content" content="../com/content/main">

<div class="container">

    <script>
        var props = self.props;
        var state = self.state;
    </script>

    <com:header>
        <com:top/>
    </com:header>

    <com:article>
        <com:content id="{{props.Content.id}}" />
    </com:article>

    <com:footer/>

</div>